.form{
    width: 30%;
    border: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 0 0 5px ;
    height: 400px;
    padding: 50px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}