.content{
    padding: 40px;
    ul{
        list-style: circle;
    }
    a{
        text-decoration: none;
        color: black;
        transition: all 0.5s;
        &:hover{
            color: red;
            
        }
    }
}