
.input_container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 110px;
    .input_error{
        color: red;
    }
    .eye_icon{
        cursor: pointer;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 35px;
        right: 10px;
        img{
            width: 100%;
            height: 100%;
        }

    }
    .input{
        
        border: 1px solid rgb(208, 205, 205);
        border-radius: 10px;
        padding: 3px 9px;
        box-sizing: border-box;
        &:focus{
            outline: 1px solid rgb(184, 164, 241);
            box-shadow: 0 0 5px rgb(184, 164, 241);
            border: none;
        }
    }

}
